pre, code, kbd {
    font-family: "<font>", fira code, Consolas, Menlo, monospace;
    font-size: large;
}

.md-typeset td {
    font-size: 15px;
}

.md-grid {
    max-width: initial;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    word-break: normal;
}

.tg .tg-wa1i {
    font-weight: bold;
    text-align: left;
    vertical-align: middle
}

.tg .tg-75ta {
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

.tg .tg-4qva {
    background-color: #c0c0c0;
    border-color: inherit;
    color: #000000;
    font-family: "Arial Black", Gadget, sans-serif !important;
    ;
    font-size: 100%;
    text-align: center;
    vertical-align: middle
}

.tg .tg-nrix {
    text-align: center;
    vertical-align: middle
}

.tg .tg-z5o4 {
    font-family: "Lucida Console", Monaco, monospace !important;
    ;
    text-align: center;
    vertical-align: middle
}